build
/.cache
/compile_commands.json
*.cpfont
.DS_Store
flasher/builds/
*.generated.h
.history/
.idea
lib/EpdFont/fontsrc
lib/EpdFont/scripts/downloaded_fonts/
lib/EpdFont/scripts/instanced_fonts/
lib/EpdFont/scripts/output/
lib/I18n/I18nKeys.h
lib/I18n/I18nStrings.cpp
lib/I18n/I18nStrings.h
*.local*
.pio
.pio/
**/__pycache__/
/.venv
.vs
.vscode
